:not(input):not(textarea),
:not(input):not(textarea)::after,
:not(input):not(textarea)::before {
    user-select: none;
    cursor: default;
}

input, button, textarea, :focus {
    outline: none;
}

.ro-textbox {
  user-select: text;
  cursor: auto;
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  flex-grow: 0;
  flex-shrink: 0;
}

#selected-folder {
  display: block;
  flex-grow: 1;
  flex-shrink: 1;
  overflow: hidden;
}

#browse-button {
  display: block;
}

body {
  display: flex;
  flex-direction: column;
}

#content {
  overflow-y: scroll;
  flex-grow: 1;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
}

.hidden {
  display: none;
}

.loader {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 100px;
  height: 100px;
  margin: -66px 0 0 -66px;
}