* {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.button {
  font-size: 12px;
  background: #eff3f6;
  color: rgba(27, 31, 35, 0.8);
  border: 1px solid rgba(27, 31, 35, 0.2);
  padding: 5px;
}

footer {
  padding: 3px;
}

.button:hover {
  background: #dfe3e6;
}

.button:active {
  background: #79BBE7;
}

.ro-textbox {
  background: #ffffff;
  border: 1px solid rgba(27, 31, 35, 0.2);
}

footer {
  font-size: 12px;
  background: #dfdfdf;
}

.dragging {
  background: rgba(121, 187, 231, 0.43);
}

.overlay {
  background: rgba(209, 209, 209, 0.57);
}

.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}